.card-create {
  input {
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  text-align: center;
  font-family: 'Indie Flower', cursive;
    &:nth-of-type(6) {
      border-radius: 50%;
      margin-bottom: 1rem;
    }
  }
}
